body{
    margin:0;
    font-family:Arial;
    background:#e9ecef;   
}

.container{

width:650px;
margin:80px auto;

}

/* card */

.card{

background:#f2f2f2;

padding:30px;

border-radius:15px;

box-shadow:0 8px 20px rgba(0,0,0,0.1);

margin-bottom:20px;

}


/* avatar + info */

.profile{

display:flex;

flex-wrap:wrap;

align-items:center;

gap:20px;

}


/* avatar */

.avatar{

width:130px;
height:130px;

border-radius:50%;

border:4px solid #b7c7d8;

object-fit:cover;

}


/* info */

.info h1{

margin:0;
font-size:32px;

}

.info p{

margin:6px 0;

}
.about{

width:100%;

margin-top:10px;

}


/* social */

.social{

display:flex;

flex-direction:column;

gap:15px;

margin-top:15px;

}

.social a{

display:block;

background:#c8d6e5;

padding:15px 20px;

border-radius:30px;

text-decoration:none;

color:black;

font-size:16px;

width:85%;

transition:0.2s;

}

.social a:hover{

background:#b7c7d8;

transform:translateX(5px);

}